#leftEye, #rightEye {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background: lightgray;
}

#leftEye {
    top: 50vh;
    left: 45vh;
}

#rightEye {
    top: 50vh;
    left: 55vh;
}

#leftEyeBall, #rightEyeBall {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    background: black;
    top: 12.5px;
    left: 12.5px;
}